{% extends 'recipes/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'recipes/category_form.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ form.instance.pk|yesno:"Edit Category,Create New Category" }}</h2>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
{% endblock %}

