{% extends 'recipes/base.html' %}
{% block content %}
    <h2>Ingredients List</h2>
    <a href="{% url 'recipes:ingredient_create' %}">Create New Ingredient</a> ||||||||
    <a href="{% url 'recipes:main_menu' %}">Go back to Main Menu</a>
    {% if ingredients %}
        {% for ingredient in ingredients %}
        	<div style="border: 2px solid cadetblue; margin: 5px">
                <p>Name: {{ ingredient.name }}</p>
                <p>Type: {{ ingredient.type }}</p>
                <p>Cost per Kilogram: {{ ingredient.cost_per_kg }}</p>
                <a href="{% url 'recipes:ingredient_update' ingredient.pk %}">Update</a>
                <a href="{% url 'recipes:ingredient_delete' ingredient.pk %}">Delete</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No Ingredients yet.</p>
    {% endif %}
{% endblock %}