{% extends 'recipes/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <p>Hello, user `{{ user.username }}`</p>
        <form method="POST" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <a href="{% url 'accounts:login' %}">Log In</a> ||||||||
        <a href="{% url 'accounts:register' %}">Register</a>
    {% endif %}
    <h2>Main Menu of Cooking App</h2>
    {% if user.is_authenticated %}
        <ul>
            <li>
                <p>Go to: <a href="{% url 'recipes:category_list' %}">Categories List</a></p>
            </li>
            <li>
                <p>Go to: <a href="{% url 'recipes:ingredient_list' %}">Ingredients List</a></p>
            </li>
            <li>
                <p>Go to: <a href="{% url 'recipes:recipe_list' %}">Recipes List</a></p>
            </li>
        </ul>
    {% endif %}
{% endblock %}
